<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>com.cs.jeff.apmagent.servlet.HelloWorld</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CPUUsage</servlet-name>
		<servlet-class>com.cs.jeff.apmagent.servlet.CPUUsage</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CPUUsage</servlet-name>
		<url-pattern>/cpu</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemoryUsage</servlet-name>
		<servlet-class>com.cs.jeff.apmagent.servlet.MemoryUsage</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemoryUsage</servlet-name>
		<url-pattern>/memory</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ThreadCount</servlet-name>
		<servlet-class>com.cs.jeff.apmagent.servlet.ThreadCount</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThreadCount</servlet-name>
		<url-pattern>/thread</url-pattern>
	</servlet-mapping>
</web-app>